{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title_addition = "" %}
  
  {% if section.title and config.title %}
    {% set title = section.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% elif section.title %}
    {% set title = section.title %}
  {% else %}
    {% set title = config.title %}
  {% endif %}
  
  {% if section.description %}
    {% set description = section.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
  
  {{ macros_head::seo(title=title, title_addition=title_addition, description=description) }}
{% endblock seo %}

{% block body %}
  {% if section.extra.class %}
    {% set page_class = section.extra.class %}
  {% else %}
    {% set page_class = "page list" %}
  {% endif %}
{% endblock body %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xxl-8">
        <article>
          <div class="page-header">
            <h1>{{ section.title }}</h1>
          </div>
          {{ section.content | safe }}

          {% if section.subsections or section.pages %}
          <div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
            {% for subsection_path in section.subsections %}
              {% set subsection = get_section(path=subsection_path) %}
              <div class="col">
                <div class="card h-100">
                  <div class="card-body">
                    <h2 class="h4 mb-2"><a class="stretched-link text-body text-decoration-none" href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a></h2>
                    {% if subsection.description %}
                    <p class="mb-0">{{ subsection.description }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}

            {% for page in section.pages %}
              <div class="col">
                <div class="card h-100">
                  <div class="card-body">
                    <h2 class="h4 mb-2"><a class="stretched-link text-body text-decoration-none" href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
                    {% if page.description %}
                    <p class="mb-0">{{ page.description }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% endif %}
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
